pre{
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-break: keep-all;
}
.wrapper {
 max-width:100% !important;
 margin-right:auto;
 margin-left:auto;
 padding-right:30px;
 padding-left:30px
}